
    <div id= "popup">
        <div class="rulesContainer"> 

            <h1 id = "rules">RULES</h1>
            <p id = "rulesText">
                Once a category is selected below a random word will be chosen<br>
                </br>
                Use the on screen keyboard to select the letter that you think the word conatains<br>
                </br>
                If the letter you have selected is correct it will be be displayed <br>
                </br>
                If its incorrect it will be listed on the left hand side under "Incorrect Letters" AND a piece of the hangman will be drawn on.<br>
                </br>
                You only have 6 chances! At any time you think you know the answer you can type it in on the right hand side. Make sure to submit!<br>
                </br>

                Good Luck!!<B></B>Choose your category below </p>
            <div id ="choices">
                <button id="christmas">Christmas Items</button>
                <button id="summer">Summer Items</button>
                <button id="sports">Sports Items</button>
                <button id="cocina">Kitchen Items</button>
                <button id="resume">Resume game</button>
                <button id="spanish">Spanish</button>
                <button id="english">English</button>
            </div>
        </div>
        <div class="results"> 
            <h1 id="resultsText">YOU WON!!!</h1>
            <p>Would you like to play again?</p>
            <button id=Yes>YES</button>
            <button id="No" onclick="gotolink(this)" value="../index.html">NO</button>
        </div>
    </div>
    
    <section class = "game">
        <div class="keyboard" id = playerChoice >
             <button id = "A" onclick="getbutton(this)">A</button>
             <button id = "B" onclick="getbutton(this)">B</button>
             <button id = "C" onclick="getbutton(this)">C</button>
             <button id = "D" onclick="getbutton(this)">D</button>
             <button id = "E" onclick="getbutton(this)">E</button>
             <button id = "F" onclick="getbutton(this)">F</button>
             <button id = "G" onclick="getbutton(this)">G</button>
             <button id = "H" onclick="getbutton(this)">H</button>
             <button id = "I" onclick="getbutton(this)">I</button>
             <button id = "J" onclick="getbutton(this)">J</button>
             <button id = "K" onclick="getbutton(this)">K</button>
             <button id = "L" onclick="getbutton(this)">L</button>
             <button id = "M" onclick="getbutton(this)">M</button>
             <button id = "N" onclick="getbutton(this)">N</button>
             <button id = "O" onclick="getbutton(this)">O</button>
             <button id = "P" onclick="getbutton(this)">P</button>
             <button id = "Q" onclick="getbutton(this)">Q</button>
             <button id = "R" onclick="getbutton(this)">R</button>
             <button id = "S" onclick="getbutton(this)">S</button>
             <button id = "T" onclick="getbutton(this)">T</button>
             <button id = "U" onclick="getbutton(this)">U</button>
             <button id = "V" onclick="getbutton(this)">V</button>
             <button id = "W" onclick="getbutton(this)">W</button>
             <button id = "X" onclick="getbutton(this)">X</button>
             <button id = "Y" onclick="getbutton(this)">Y</button>
             <button id = "Z" onclick="getbutton(this)">Z</button>
             <button id ="rulesButton">RULES</button>
        </div>
        <div id ="computerChoice">
            <li id = "l1">_</li>
            <li id = "l2">_</li>
            <li id = "l3">_</li>
            <li id = "l4">_</li>
            <li id = "l5">_</li>
            <li id = "l6">_</li>
            <li id = "l7">_</li>
            <li id = "l8">_</li>
            <li id = "l9">_</li>
            <li id = "l10">_</li>
            <li id = "l11">_</li>
            <li id = "l12">_</li>
            <li id = "l13">_</li>
            <li id = "l14">_</li>
            <li id = "l15">_</li>
            <li id = "l16">_</li>
            <li id = "l17">_</li>
            <li id = "l18">_</li>
            <li id = "l19">_</li>
            <li id = "l20">_</li>

        </div>

        <div id ="hangman">
            <div id = "hangmanContainer">

                <shape id = "head"></shape>
                <shape id = "torso"></shape>
                <shape id = "rightArm"></shape>
                <shape id = "leftArm"></shape>
                <shape id = "rightLeg"></shape>
                <shape id = "leftLeg"></shape>
                <shape id = "rope"></shape>
                <shape id = "topBeam"></shape>
                <shape id = "middleBeam"></shape>
                <shape id = "bottomBeam"></shape>

            </div>
        </div>
       <div id ="RightSide">
        <p>If you think you know the word type it in here!</p>
        <input id = "wholeword" type="text">
        <button id = "submit">Submit</button>
       </div>

       <div id ="LeftSide">
        <p>Incorrect Letters</p>
        <p id = "wrongletters"></p>
       </div>
       

    </section>
    <script>
        let playerChoice = document.querySelector(".keyboard")
        function gotolink(link)
        {
            if(link.value=="https://www.linkedin.com/in/jon-schinella-280856b4")
            {
                window.open("https://www.linkedin.com/in/jon-schinella-280856b4")
            }
            else
            {
                location.href=link.value; 
            }
        }
        function getbutton(link)
        {
            if(link.id!="clicked")
            {
               playerChoice.id =link.id
               link.id = "clicked";
               console.log(link.id)
            }
        }
    </script>
